:root {
    --ikejima-accent-color: #f0d148;
    --ikejima-accent-color-rgb: 240, 209, 72;
    --ikejima-accent-color-b: #000;
    --ikejima-accent-color-b-rgb: 0, 0, 0;
    --ikejima-background-color: #e8e6de;
    --ikejima-background-color-rgb: 232,230,222;
    --ikejima-font-color-dark: #000;
    --ikejima-font-color-dark-rgb: 0, 0, 0;
    --ikejima-header-height: 50px;
}


html {
    height: 100%;
}

body {
    background-color: var(--ikejima-background-color);
    color: var(--ikejima-font-color-dark);
    font-family: 'a-otf-ud-shin-go-pr6n', sans-serif;
    font-style: normal;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    position: fixed;
    background-color: var(--ikejima-background-color);
    padding: 10px 10px 0px 10px;
    top: 0%;
    width: 100%;
    height: var(--ikejima-header-height);
    z-index: 3;
}

.wrapper {
    padding: 0 4%;
}

.offset {
    height: var(--ikejima-header-height);
}

.main-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}

.eyecatch {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.section_title {
    position: relative;
    width: fit-content;
}

.section_title::after {
    background-color: var(--ikejima-accent-color);
    height: 10px;
    content: "";
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 0%;
    bottom: 20%;
    z-index: -1;
}

.eyecatch__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spacer-small {
    height: 20px;
}

.photo-base {
    background-color: var(--ikejima-accent-color);
    border-radius: 50%;
    width: 300px;
    overflow: hidden;
    padding: 10px;
}

.ikejima-photo {
    width: 100%;
    filter: grayscale(1);
}

.ul-level1 {
    margin-left: 1rem;
}
.ul-level2 {
    margin-left: 2rem;
}


.input-validity-status-loading {
  opacity: 0; /* when the item is in progress, change this value to 1 */
  position: absolute !important;
  top: 40%;
  right: 0.5rem;
  font-size: 1px;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: var(--ikejima-accent-color);
  background: -moz-linear-gradient(left, var(--ikejima-accent-color) 10%, rgba(75, 56, 39, 0) 42%);
  background: -webkit-linear-gradient(left, var(--ikejima-accent-color) 10%, rgba(75, 56, 39, 0) 42%);
  background: -o-linear-gradient(left, var(--ikejima-accent-color) 10%, rgba(75, 56, 39, 0) 42%);
  background: -ms-linear-gradient(left, var(--ikejima-accent-color) 10%, rgba(75, 56, 39, 0) 42%);
  background: linear-gradient(to right, var(--ikejima-accent-color) 10%, rgba(75, 56, 39, 0) 42%);
  position: relative;
  -webkit-animation: input-validity-status-loading-anim 1.4s infinite linear;
  animation: input-validity-status-loading-anim 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0) translateY(-50%);
}
.input-validity-status-loading:before {
  width: 50%;
  height: 50%;
  background: var(--ikejima-accent-color);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.input-validity-status-loading:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}





/* Typography
--------------------------- */
.ikejima-typography-medium {
    font-size: 1rem;
    color: var(--ikejima-font-color-dark);
}

.ikejima-typography-medium-bold {
    font-size: 1rem;
    font-weight: bold;
    color: var(--ikejima-font-color-dark);
}

.ikejima-typography-heading {
    font-size: 2rem;
    font-weight: bold;
    color: var(--ikejima-font-color-dark);
}

.ikejima-typography-heading-sub {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--ikejima-font-color-dark);
}

footer {
    height: 300px;
    background-color: var(--ikejima-accent-color-b);
}

@media(max-width: 880px) {
    .eyecatch {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
}
