/*************
  Dropbox-Recome Theme (by thezoggy)
 *************/
/* overall */
.tablesorter-dropbox-recome {
	width: 100%;
	font: 13px/32px "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	color: #555;
	text-align: left;
	background-color: #fff;
	border-collapse: collapse;
	border-top: 1px solid rgb(214, 214, 214);
	border-spacing: 0;
}

/* header */
.tablesorter-dropbox-recome th,
.tablesorter-dropbox-recome thead td,
.tablesorter-dropbox-recome tfoot th,
.tablesorter-dropbox-recome tfoot td {
	background-color: var(--recome-white-color);
	border-color: rgb(214, 214, 214);
	border-style: solid;
	border-width: 1px;
        border-left: none;
        border-right: none;
	padding: 3px 6px;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	color: var(--recome-navy-color);
	text-align: left;
	vertical-align: middle;
}
.tablesorter-dropbox-recome .header,
.tablesorter-dropbox-recome thead tr,
.tablesorter-dropbox-recome .tablesorter-headerRow {
	background-color: rgba(var(--recome-accent-color), 0.3);
	border-bottom: 1px solid rgb(214, 214, 214);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0 0 #000000 inset;
	white-space: normal;
}
.tablesorter-dropbox-recome .tablesorter-headerSortUp,
.tablesorter-dropbox-recome .tablesorter-headerSortDown,
.tablesorter-dropbox-recome .tablesorter-headerAsc,
.tablesorter-dropbox-recome .tablesorter-headerDesc {
	font-weight: 600;
}
.tablesorter-dropbox-recome .tablesorter-header {
	cursor: pointer;
}
.tablesorter-dropbox-recome .tablesorter-header i.tablesorter-icon {
	width: 9px;
	height: 9px;
	padding: 0 10px 0 4px;
	display: inline-block;
	background-position: center right;
	background-repeat: no-repeat;
	content: "";
}
.tablesorter-dropbox-recome .tablesorter-headerSortUp i.tablesorter-icon,
.tablesorter-dropbox-recome .tablesorter-headerAsc i.tablesorter-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALhJREFUeNpi/P//PwMhwILMiexYx8bIxNTy/9+/muUVQb9g4kzIitg4edI4+YRLQTSyOCPMupjerUI8whK3OXgEhH58+fDuy9sXqkuKvd+hmMTOxdvCxS8sxMUvxACiQXwU6+Im7DDg5BNKY+fiY2BmYWMA0SA+SByuiJ2bbzIHrwAzMxsb0AGMDCAaxAeJg+SZ7wtaqfAISfQAdTIwMUM8ywhUyMTEzPD/71+5FXvPLWUkJpwAAgwAZqYvvHStbD4AAAAASUVORK5CYII=');
	/* background-image: url(images/dropbox-recome-asc.png); */
}
.tablesorter-dropbox-recome .tablesorter-headerSortUp:hover i.tablesorter-icon,
.tablesorter-dropbox-recome .tablesorter-headerAsc:hover i.tablesorter-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALVJREFUeNpi/P//PwMhwILMCc+qZGNkYmr5/+9fzcpp7b9g4kzIitjYOdM4uXlLQTSyOCPMuqi8OiEefsHbHFzcQj++fX335eN71WWTmt6hmMTOwdXCycMnBDSJAUSD+CjWxRQ0GHBw86Sxc3AyMDOzMIBoEB8kDlfEzsk1mYOLByjPCnQAIwOIBvFB4iB55rsfmVS4+QV7QNYwMTNDHApUyMTExPDv/z+5Feu3L2UkJpwAAgwA244u+I9CleAAAAAASUVORK5CYII=');
	/* background-image: url(images/dropbox-recome-asc-hovered.png); */
}
.tablesorter-dropbox-recome .tablesorter-headerSortDown i.tablesorter-icon,
.tablesorter-dropbox-recome .tablesorter-headerDesc i.tablesorter-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALdJREFUeNpi/P//PwMhwBLdtVGFhZ3zNhMzC4bkv79/GP78/K7KCDIpZ9mVw+xcfDaMTExwBf///WP4+e3TkSlROrZg7UxMLLns3HxnmFnZmGGK/v7+9ff3j2+5YHkQMSlC48Kv719m/f//D2IKkAbxQeJwRSDw4/OHmr+/fr0DqmAA0SA+TA6uaEq0zjugG+r//vkFcks9iA/3HbJvvn18O+vf379yP758mMXAoAAXZyQmnAACDADX316BiTFbMQAAAABJRU5ErkJggg==');
	/* background-image: url(images/dropbox-recome-desc.png); */
}
.tablesorter-dropbox-recome .tablesorter-headerSortDown:hover i.tablesorter-icon,
.tablesorter-dropbox-recome .tablesorter-headerDesc:hover i.tablesorter-icon {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALNJREFUeNpi/P//PwMhwBJf3uP879e3PUzMzBiS//7+ZWBi43JhBJmU2z7nIzMzEx8jIyNcAUj8799/nyZXpvCzgARYuXjTWBkZVjCzIEz7++cvw+//DGkgNiPMTWVT1l5hZvynDTINbMp/pqtdOcE6IDkmmM5fv3/5//v37z9QBQOIBvFhcnBFEwoj7/5jZFnz9+8fBhAN4sN9h+ybH9++JrGxscr/+vE1CVmckZhwAggwANvlUyq5Dd1wAAAAAElFTkSuQmCC');
	/* background-image: url(images/dropbox-recome-desc-hovered.png); */
}
.tablesorter-dropbox-recome thead .sorter-false {
	cursor: default;
}

.tablesorter-dropbox-recome thead .sorter-false i.tablesorter-icon {
	display: none;
}

/* tbody */
.tablesorter-dropbox-recome td {
	padding: 15px 6px;
	line-height: 32px;
	color: #555;
	text-align: left;
	border-top: 1px solid rgb(214, 214, 214);
	border-bottom: 1px solid rgb(214, 214, 214);
}

/* hovered row colors */
.tablesorter-dropbox-recome tbody > tr.hover > td,
.tablesorter-dropbox-recome tbody > tr:hover > td,
.tablesorter-dropbox-recome tbody > tr.even:hover > td,
.tablesorter-dropbox-recome tbody > tr.odd:hover > td {
	background-color: rgba(214, 214, 214, 0.3);
	border-right: 0;
	border-left: 0;
	border-color: rgba(214, 214, 214, 0.3);
	/* trick to do border-top and bottom colors */
	border-style: double;
}

/* table processing indicator */
.tablesorter-dropbox-recome .tablesorter-processing {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	/* background-image: url(images/loading.gif) !important; */
	background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;
}

/* Zebra Widget - row alternating colors */
.tablesorter-dropbox-recome tr.odd > td {
}
.tablesorter-dropbox-recome tr.even > td {
}

/* Column Widget - column sort colors */
.tablesorter-dropbox-recome td.primary,
.tablesorter-dropbox-recome tr.odd td.primary {
}
.tablesorter-dropbox-recome tr.even td.primary {
}
.tablesorter-dropbox-recome td.secondary,
.tablesorter-dropbox-recome tr.odd td.secondary {
}
.tablesorter-dropbox-recome tr.even td.secondary {
}
.tablesorter-dropbox-recome td.tertiary,
.tablesorter-dropbox-recome tr.odd td.tertiary {
}
.tablesorter-dropbox-recome tr.even td.tertiary {
}

/* caption */
.tablesorter-dropbox-recome > caption {
	background-color: #fff;
}

/* Filter Widget */
.tablesorter-dropbox-recome .tablesorter-filter-row {
	background-color: #fff;
}
.tablesorter-dropbox-recome .tablesorter-filter-row td {
	background-color: #fff;
	line-height: normal;
	text-align: center; /* center the input */
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}
/* optional disabled input styling */
.tablesorter-dropbox-recome .tablesorter-filter-row .disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	cursor: not-allowed;
}

/* hidden filter row */
.tablesorter-dropbox-recome .tablesorter-filter-row.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}
.tablesorter-dropbox-recome .tablesorter-filter-row.hideme * {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);
}

/* filters */
.tablesorter-dropbox-recome input.tablesorter-filter,
.tablesorter-dropbox-recome select.tablesorter-filter {
	width: 98%;
	height: auto;
	margin: 0;
	background-color: #fff;
	border: 1px solid #bbb;
	color: #333;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: height 0.1s ease;
	-moz-transition: height 0.1s ease;
	-o-transition: height 0.1s ease;
	transition: height 0.1s ease;
}
/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
	display: none;
}

/* ajax error row */
.tablesorter .tablesorter-errorRow td {
	text-align: center;
	cursor: pointer;
	background-color: #e6bf99;
}
